$text-font: 'Roboto', sans-serif;

$bg-color:white;
$main-color:#2F0079;
$secondary-color: lightgrey;
$text-color: #000000;
$inverted-text-color: $bg-color;

$from-tablet: 768px;
$from-pc:1200px;

$shadow: 9px 8px 10px rgba(0,0,0,0.06);