@import '../../styles/variables';

.header{
    margin: 10px 0px;
    padding: 18px 20px;
    border-bottom: 1px solid lightgrey;  
    @media (min-width: $from-tablet){
       width: 980px;
       margin: auto;
    }
}
  
.logo{
    color: $main-color;
    font-family: $text-font;
    font-size: 21px;
    font-style: italic;
}